<div class="card">
  <div class="card-header">
    Header
  </div>
  <div class="card-body" style="margin: 1%; padding: 3%; justify-content: center;">
    <h4 class="text text-center">Nombre del club</h4>
    <p class="text text-center">nombre del Instructor</p>
    <!-- 16:9 aspect ratio -->
    <div class="row" style="justify-content: center;">
      <div class="col" style="padding: 5%;">
        <div class="ratio ratio-16x9">
          <iframe style="justify-content: center;
            align-items: center;
            text-align: center;" width="560" height="315" src="https://www.youtube.com/embed/ivrR3XPJMZM"
            title="YouTube video player"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" style="float: right;" type="submit">Inscribirse</button>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>