<div class="card">
    <div class="card-header">
        Estudiantes
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a  class="btn btn-success">Modificar</a>
                        <a  class="btn btn-danger" role="button">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>